$normal-font: Source Sans Pro, sans;
$tt-font: Fira Code, Fira Mono, Inconsolata, monospace;

body {
    font-family: $normal-font;
}

.header {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    height: 3em;

    background-color: #0C0C0D;
    color: #676769;
    font-weight: bold;

    .tt {
        font-family: $tt-font;
    }

    .hl {
        color: #B1B1B1;
    }

    .left-side {
        position: relative;
        float: left;
        margin-left: 1em;
        top: 0;
        bottom: 0;
        line-height: 100%;
        line-height: 3em;
    }

    .right-side {
        position: relative;
        float: right;
        margin-right: 1em;
        line-height: 100%;
        top: 0;
        bottom: 0;
        line-height: 3em;
    }
}

$history-width: 5em;
$history-height: 3em;

.main {
    position: absolute;
    top: 3em;
    bottom: 0;
    left: 0;
    right: 0;

    .detail {
        position: absolute;
        right: $history-width;
        left: 0;
        bottom: 0;
        top: 0;
        color: #B1B1B1;
        background-color: #323234;
        overflow: auto;
        .content {
            padding: 1em;
            font-family: $tt-font;
            font-size: 1.5em;
        }
    }

    .history {
        position: absolute;
        width: $history-width;
        right: 0;
        bottom: 0;
        top: 0;
        background-color: #474749;
        overflow-x: hidden;
        overflow-y: scroll;

        .step {
            position: relative;
            width: 100%;
            height: $history-height;
            div {
                margin: 0.5em;
                padding: 0.5em;
                position: relative;
                left: 0;
                right: 0;
                top: 0;
                right: 0;
                border-radius: 0.5em;
                background-color: #a62;
                color: #323234;
                font-weight: bold;
                text-align: center;
            }
        }
    }
}
